// Default mixins and settings -----------------
@import "../node_modules/reveal.js/css/theme/template/mixins";
@import "../node_modules/reveal.js/css/theme/template/settings";
// ---------------------------------------------

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;
// Background generator
@mixin bodyBackground() {
    background: url(images/redbrick.png) bottom 32px left 32px/256px no-repeat, linear-gradient(to bottom, #f0ebe7 20px, #f0ebe7 100%);
}

$mainColor: #000;
$headingColor: #000;

$mainFontSize: 38px;
$mainFont: 'myriad-pro', Helvetica, sans-serif;
$headingFont: 'myriad-pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #0093D5;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
  &, h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }
}

body::after {
    color: #000;
    content: attr(data-bg-text);
    display: block;
    font-size: 12px;
    line-height: 1;
    position: absolute;
    bottom: 16px;
    right: 8px;
}

// Theme template ------------------------------
@import "../node_modules/reveal.js/css/theme/template/theme";
// ---------------------------------------------
