// Default mixins and settings -----------------
@import '../node_modules/reveal.js/css/theme/template/mixins';
@import '../node_modules/reveal.js/css/theme/template/settings';
// ---------------------------------------------

// Override theme settings (see ../template/settings.scss)
$rb-white: #fff;
$rb-black: #000;
$rb-blue: #0093d5;
$rb-grey: #f0ebe7;
$rb-grey-light: #f0ebe7;
$backgroundColor: $rb-white;

// Background generator
.reveal {
  background: url('https://www.redbrick.dcu.ie/assets/images/logo.png') bottom 32px left 32px/256px no-repeat, linear-gradient(to bottom, $rb-grey-light 20px, $rb-grey 100%);

  sup {
    font-size: 60%;
  }
}

$mainColor: $rb-black;
$headingColor: $rb-black;

$mainFontSize: 38px;
$mainFont: 'myriad-pro', Helvetica, sans-serif;
$headingFont: 'myriad-pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: $rb-blue;
$linkColorHover: lighten($linkColor, 15%);
$selectionBackgroundColor: lighten($linkColor, 25%);

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1em;

section {
  .as-dark-background {
    &,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $rb-white;
    }
  }
}

body {
  &::after {
    bottom: 16px;
    color: $rb-black;
    content: attr(data-bg-text);
    display: block;
    font-size: 12px;
    line-height: 1;
    position: absolute;
    right: 8px;
  }
}

// Theme template ------------------------------
@import '../node_modules/reveal.js/css/theme/template/theme';
@import '../node_modules/reveal.js/lib/css/zenburn';
// ---------------------------------------------
